.experiences {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.container-experiences {
  display: flex;
  flex-direction: column-reverse;
  align-items: stretch;
}
.container-experiences ul {
  list-style-type: disc;
  padding: 1rem 2.5rem;
}
