.badge {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid gray;
  padding: 0.5rem 1rem;
}
.badge-image {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 300px;
  max-width: 300px;
}
.container-badge-detail {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.awarded-by {
  color: goldenrod;
  text-align: center;
}
.badge-detail {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.detail p {
  color: gray;
  margin-top: 1rem;
}
.badge-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.25rem;
}
.badge-skills span {
  background-color: var(--color-charcoal-gray);
  border-radius: 1rem;
  font-size: 12px;
  padding: 0.25rem 0.5rem;
}
.badge-link {
  margin: 2rem 0;
}
.badge-link a {
  display: flex;
  gap: 0.5rem;
}
@media only screen and (max-width: 1100px) {
  .container-badge-detail {
    flex-direction: column;
  }
}
