.home {
  display: grid;
  grid-template-columns: 3fr 5fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header header "
    "about about"
    "sidebar-left task-area ";
  position: relative;
}
.home > div {
  padding: 1rem;
}
/* For Home elements as per the grid structure */
.header {
  grid-area: header;
  min-height: 100px;
}
.sidebar-left {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  left: 5rem;
  bottom: 1rem;
  grid-area: sidebar-left;
}
.task-area {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  grid-area: task-area;
  gap: 3rem;
}
.task-area h2{
  padding: 2rem;
}

.task-area > div {
  border-radius: 5px;
  min-height: 100vh;
  padding: 1rem;
  width: 100%;
}
.about {
  display: none;
  flex-direction: column;
  width: 80%;
  align-items: center;
  gap: 1rem;
  grid-area: about;
}
.about .sidebar-left-header {
  margin-left: 0;
}
.about p {
  color: gray;
  font-weight: 500;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.25rem;
}
.info-detail {
  margin-top: 1rem;
}
.info-detail p {
  display: flex;
  align-items: center;
  color: gray;
  gap: 1rem;
  line-height: 0.5;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.sidebar-left-header {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-left: 40%;
  transform: translate(-50%);
}
.sidebar-left-header h2 {
  color: var(--color-teal);
  font-size: 2rem;
}
.sidebar-left-header p {
  margin-top: 1rem;
  max-width: 80%;
}
.sidebar ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 1.5rem;
  list-style: none;
}
.sidebar ul li {
  display: flex;
  align-items: center;
  cursor: pointer;

  gap: 0.5rem;
}
.sidebar a {
  color: unset;
}
.slide-right {
  color: gray;
  transform: translateX(3rem);
  animation: slide-right 0.3s ease-in-out;
  padding: 0.25rem 0;
}
.sidebar ul li span {
  display: flex;
  align-items: center;
}
.sidebar ul li span.icon {
  color: var(--color-teal);
}
.contanct{
  grid-area: contact;
}
@keyframes slide-right {
  0% {
    transform: translateX(0.5rem);
  }
  10% {
    transform: translateX(1rem);
  }
  40% {
    transform: translateX(1.5rem);
  }
  60% {
    transform: translateX(1.75rem);
  }
  80% {
    transform: translateX(2rem);
  }
}
@media only screen and (max-width: 950px) {
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sidebar-left {
    display: none;
  }
  .about {
    display: flex;
  }
  .about h2 {
    font-size: 2rem;
  }
  .info {
    align-items: center;
    margin-bottom: 2rem;
  }
}
